body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --main-background: #f3f3f3;
  --widget-text-color: grey;
  --orange: #ffa10e;
  --green: #49ab49;
  --red: #e24747;
  --blue: #66afd4;
  --white: #fbfbfb;
}

.state-green {
  background-color: var(--green) !important;
}

.state-blue {
  background-color: var(--blue) !important;
}

.state-red {
  background-color: var(--red) !important;
}

.state-orange {
  background-color: var(--orange) !important;
}
